*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: rgb(255, 255, 255);
}
.barra 
{
    background: linear-gradient(to right, #343D42,
    rgba(255, 255, 255, 0.374));
    width: auto;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.Botão
{
    color: black;
    background-color: white;   
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    margin-left: 10px;
}

.Botão:hover {
    background-color: #FFC857;
}
.h3{
    padding-right: 75%;   


}
.Titulo{
    text-align: center;
    font-size: 90px;
    margin-top: 2%;
    
}
.Atividades{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    border: 1px solid#FFC857;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 7vw;
    margin-right: 7vw;
    height: 370px;
}

.content{
    width: 50%;
    padding: 20px;
    
}

.content h1{
    color: #FFC857;

}

.content span{
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    color: #FFC857;
}
.content p{
    font-size: 20px;
    margin-top: 10px;
}
.image{
    width:  50%;
    height: auto;

}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#atv2{
    flex-flow: row-reverse nowrap;
}
p a{
    color: #FFC857;
}