*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: rgb(255, 255, 255);
}
.barra 
{
    background: linear-gradient(to right, #343D42,
    rgba(255, 255, 255, 0.374));
    width: auto;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}



.Botão
{
    color: black;
    background-color: white;   
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    margin-left: 10px;
}

.Botão:hover {
    background-color: #FFC857;
}

.textos{
    text-align: center;
    font-size: smaller;
    max-width: 50%;
    margin: 0 auto; 
    padding: 2%;
    font-size: 15px;
}
.imagem img{
    padding: 1.9%;
    border-radius: 50px;
    border: auto #00a6ff;
    width: 225px;
    height: 225px;
    align-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 42%;
}
.h3{
    padding-right: 75%;   
}
.Materias {
    font-size: 100px;
    text-align: center;
}
.BOX{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    border: 1px solid yellow;
    justify-content: center;
}

